<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kwin-e-mart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoriaServlet</display-name>
    <servlet-name>CategoriaServlet</servlet-name>
    <servlet-class>kwinemart.servlet.CategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaServlet</servlet-name>
    <url-pattern>/CategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarcaServlet</display-name>
    <servlet-name>MarcaServlet</servlet-name>
    <servlet-class>kwinemart.servlet.MarcaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarcaServlet</servlet-name>
    <url-pattern>/MarcaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoServlet</display-name>
    <servlet-name>ProdutoServlet</servlet-name>
    <servlet-class>kwinemart.servlet.ProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoServlet</servlet-name>
    <url-pattern>/ProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>kwinemart.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaProdutosServlet</display-name>
    <servlet-name>BuscaProdutosServlet</servlet-name>
    <servlet-class>kwinemart.servlet.BuscaProdutosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaProdutosServlet</servlet-name>
    <url-pattern>/BuscaProdutosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>kwinemart.servlet.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>kwinemart.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>